.bs-container{
    display: flex;
    padding: 10px;  
    box-sizing: border-box; 
    flex-direction: column;
}

.bs-child-one{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bs-child-two{
    margin-top: 5rem; 
    margin-bottom: 10px; 
    font-size: var(--size-sm);
    overflow-y: scroll;
    color: rgb(80, 80, 80);
}

 /* B I N A R Y - S E A R C H - T R E E - V I S U A L I Z E R */
 .bs-visualizer{
    width: 100%;
    height: 300px;
    border: 1.5px solid var(--pink);
    background-color: var(--light-background);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .bs-visualizer div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 0.5rem;
    margin-top: 1rem;   
    position: relative;
 }

 .bs-visualizer span{
    grid-column: 1 / 3;
    border: 1.2px solid;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    margin: auto auto;
    background-color: #ADD899;
    box-shadow: rgba(0, 0, 0, 0.557) 0px 1px 3px, rgba(0, 0, 0, 0.647) 0px 1px 2px;
   }

 .bs-visualizer span::before{
    position: absolute;
    content: "";
    width: 50%;
    height: 1.5rem;
    background: rgb(0, 0, 0);
    left: 50%;
    top: 0;
    transform: translateY(-100%);
    background: linear-gradient(to bottom right, #ea121200 47%, #c80808 0 50%, #d70c0c00 0 );
 }

 .bs-visualizer :nth-child(3) > span::before{
    left: auto;
    right: 50%;
    background: linear-gradient(to bottom left, #e7121200 47%, #da0b0b 0 50%, #d0131300 0 );
 }

 .bs-visualizer > div > span::before{
    content: none;
 }

 /* C O N T E N T */
 li, h6{
   margin-top: 0.2em;
 }


 /* media queries */
/* xs */
@media screen and (min-width: 475px) {
   
}
/* sm */
@media screen and (min-width: 640px) {
    }
/* md */
@media screen and (min-width: 768px) {
    }
/* lg */
@media screen and (min-width: 1024px) {
   .bs-container{
    height: 100% !important;
    flex-direction: row;
      gap: 1em;
  }
  
  .bs-child-one{
      width:75%;
  }
  
  .bs-child-two{
      margin-top: 10px; 
      width: 25%;
      padding: 0 1em 0 0;
  }

   }
/* xl */
@media screen and (min-width: 1280px) {
   }
/* 2xl */
@media screen and (min-width: 1536px) {
    }
