.algo-view-title {
    text-align: center;
    line-height: 1em;
    font-size: var(--size-2xl);
    user-select: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, Neuehaa, "Open sans", "Arial", sans-serif;
}

.navbar{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
/* media queries */
/* xs */
@media screen and (min-width: 475px) {}

/* sm */
@media screen and (min-width: 640px) {}

/* md */
@media screen and (min-width: 768px) {
    .algo-view-title {
        font-size: var(--size-2xl);
    }
}

/* lg */
@media screen and (min-width: 1024px) {


}

/* xl */
@media screen and (min-width: 1280px) {
    
}

/* 2xl */
@media screen and (min-width: 1536px) {
    
}
