.linkedlist-container{
    display: flex;
    padding: 10px;  
    box-sizing: border-box; 
    flex-direction: column;
}

.linkedlist-child-one{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkedlist-visualizer{
    width: 100%;
    height: 300px;
    border: 1.5px solid var(--pink);
    background-color: var(--light-background);
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
}

.node{
    width: 42px;
    height: 22PX;
    border-radius: 6px;
    border: 1px solid var(--Black);
    display: flex;
    font-size: var(--size-xxs);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.059) 0px 1px 3px, rgba(0, 0, 0, 0.278) 0px 1px 2px;
}

.node  div{
    border: 1px solid var(--Black);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.linkedlist-controls{
    display: flex;
    gap: 0.8em;
}

.linkedlist-controls  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    border: 1.2px solid var(--pink);
    padding: 0.8em;
    border-radius: 6px;
    background-color: var(--light-background);
}

.btn-add{
    background-color: rgb(76, 202, 160);
}

.btn-add:hover{
    background-color: rgb(85, 248, 194);
}

.btn-remove{
    background-color: rgb(197, 69, 69);
}

.btn-remove:hover{
    background-color: rgb(250, 90, 90);
}

.linkedlist-child-two{
    margin-top: 5rem;
    margin-bottom: 10px; 
    font-size: var(--size-sm);
    overflow-y: scroll;
    color: rgb(80, 80, 80);  
}

 /* L I N K E D L I S T - V I S U A L I Z E R */
 .linkedlist-visualizer{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
 }

 .linkedlist-visualizer  div {
    transition: all 0.9s ease;
 }
 

 /* media queries */
/* xs */
@media screen and (min-width: 475px) {
   
}
/* sm */
@media screen and (min-width: 640px) {
    }
/* md */
@media screen and (min-width: 768px) {
    }
/* lg */
@media screen and (min-width: 1024px) {
    .linkedlist-container{
        flex-direction: row;
        height: 80vh !important;
        justify-content: center;
    }
    
    .linkedlist-child-one{
        width:75%;
    }
    
    .linkedlist-visualizer{
        width:750px;
        height: 300px;
    }
    
    .node{
        width: 85px;
        height: 40PX;
        font-size: var(--size-sm);
    }
    
    .linkedlist-child-two{
        margin-top: 10px;  
        width: 25%;
        font-size: var(--size-sm);
    }
    
   }
/* xl */
@media screen and (min-width: 1280px) {
   }
/* 2xl */
@media screen and (min-width: 1536px) {
    }