#root{
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--Off-White);
}

main{
  padding-top: 0.5em;
  height: 85vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .Empty-Content{
  text-align: center;
}

.Empty-Content{
  color: #a5a3a3;
  font-size: var(--size-4xl);
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#algo-view-png{
  width: 10rem;
  height: 10rem;
}

.info{
  font-size: var(--size-xl);
}